.review-grid {
    position: absolute;
    width: 45%;
    height: 100%;
    right: 2.5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    top: 20%;
}

.review-form {
    position: absolute;
    width: 45%;
    height: 100%;
    left: 2.5%;
    top: 20%;
    background-color: lightgray;
}

.form-class {
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-input {
    height: 10%;
    width: 90%;
    margin: 10px;
}

.review {
    margin: 10px;
    border-radius: 10px;
    width: 20%;
    display: flex;
    flex-direction: column;
    font-size: xx-small;
}